name: CI tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  formatter:
    runs-on: ubuntu-latest
    name: Python Formatter
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-25.11

    - name: ruff format
      run: nix develop --command ruff format --check .

    - name: ruff check
      run: nix develop --command ruff check .


